In [26]:
import findspark

In [27]:
findspark.init('/home/ssahin/spark-3.4.1-bin-hadoop3')

In [28]:
from pyspark.sql import SparkSession

In [29]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [30]:
df = spark.read.json('people.json')

In [31]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [32]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [33]:
df.columns

['age', 'name']

In [34]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [20]:
from pyspark.sql.types import (StructField,StringType,
                               IntegerType,StructType)

In [21]:
data_schema = [StructField('age',IntegerType(),True),
               StructField('name', StringType(),True)]

In [22]:
final_struc = StructType(fields=data_schema)

In [23]:
df = spark.read.json('people.json', schema=final_struc)

In [24]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [35]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [37]:
type(df['age'])

pyspark.sql.column.Column

In [41]:
type(df.select('age'))

pyspark.sql.dataframe.DataFrame

In [53]:
type(df.head(2)[0])

pyspark.sql.types.Row

In [55]:
df.select(['age', 'name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [58]:
df.withColumn('double_age',df['age']*2).show()

+----+-------+----------+
| age|   name|double_age|
+----+-------+----------+
|null|Michael|      null|
|  30|   Andy|        60|
|  19| Justin|        38|
+----+-------+----------+

In [59]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [60]:
df.withColumnRenamed('age','my_new_age').show()

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      null|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

In [61]:
df.createTempView('people')

In [62]:
results = spark.sql("SELECT * FROM people")

In [63]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [64]:
new_results = spark.sql("select * from people where age=30")

In [65]:
new_results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+